-e .
bandit==1.7.1
black==21.12b0
flake8-bugbear==21.11.29
flake8==4.0.1
ipdb==0.13.9
isort==5.10.1
mypy==0.930
numpy==1.22.0
pyroma==3.2
pytest-cov==3.0.0
pytest==6.2.5
sphinx-autodoc-typehints==1.13.0
sphinx==6.0.0
twine==3.7.1
wheel==0.37.1
matplotlib==3.5.1
